<!--We will display this paragraph when there are no transactions given to us-->
<!--When our transactions array is empty, we will show this message-->
<p *ngIf="transactions.length === 0">This block has no transactions</p>

<!--When there are more than 0 transactions in our array- (*ngIf)->
<!--We will show our table right here-->
<table class="table table-hover table-striped" *ngIf="transactions.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th> <!-- The number of the transaction -->
      <th scope="col">From</th> <!-- Which address it originated-->
      <th scope="col">To</th> <!-- Which address it went -->
      <th scope="col">Amount</th> <!-- How much money the transaction was -->
      <th scope="col">Timestamp</th> <!-- When it was created -->
      <th scope="col">Valid?</th> <!-- Whether or not it is valid -->
    </tr>
  </thead>
  <tbody>
    <!--We create a table row for each of the transactions-->
    <!--We loop this part of the template-->
    <!--Then we are filling in all of these columns-->
    <tr *ngFor="let tx of transactions; index as index">
      <td>{{index}}</td>
      <td class="text-truncate" style="max-width: 100px;">

        <a [routerLink]="['/wallet', tx.fromAddress]" *ngIf="tx.fromAddress !== null">{{tx.fromAddress}}</a>

        <span *ngIf="tx.fromAddress === null">System</span>

        <span class="text-muted" *ngIf="blockchainService.addressIsFromCurrentUser(tx.fromAddress)">
          <br><small>(That's yours!)</small>
        </span>
      </td>
      <td class="text-truncate" style="max-width: 100px;">
          <a [routerLink]="['/wallet', tx.toAddress]">{{tx.toAddress}}</a>

          <span class="text-muted" *ngIf="blockchainService.addressIsFromCurrentUser(tx.toAddress)">
            <br><small>(That's yours!)</small>
          </span>
      </td>
      <td>
        {{tx.amount}}
        <span *ngIf="tx.fromAddress === null" class="text-muted"><br><small>(Block reward)</small></span>
      </td>
      <td>
        {{tx.timestamp}}<br>
        <span class="text-muted"><small>{{tx.timestamp |date:'MMM d, y, HH:mm'}}</small></span>
      </td>
      <td style="max-width: 40px;">
        <!--Checks if the transaction is correctly signed-->
        <span *ngIf="tx.isValid()">✓</span>
        <span *ngIf="!tx.isValid()">✗</span>
      </td>
    </tr>
  </tbody>
</table>
