<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/rainbow-spin.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;DizzyCoin
  </a>

  <div>
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      Pending transactions
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button>
    <!--non breaking space-->
    &nbsp;
    <!--When we click on this we want the router link, new transaction to be opened-->
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      Create transaction
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-light">
      Settings
    </button>
  </div>
</nav>

<br>

<div class="container" *ngIf="showInfoMessage === true">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Hello there.</h4>
    This tool gives you the ability to look behind-the-scenes of a blockchain. You can create transactions, mine blocks and see how they all work together.
    <hr>
    <a href="https://github.com/isiahsimas/DizzyCoin">Source</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissInfoMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px;">
  <small>For educational purposes only.<br>
  <a href="https://github.com/isiahsimas/DizzyCoin" target="_blank">Source</a></small>
</footer>